# CA I Python for Scientific Computing SC 605

In [1]:
import numpy as np

## Section A

### 1. List & Loops

In [4]:
# Q1.
def find_second_largest_smallest(numbers):
    if len(numbers) < 2:
        return "Need at least 2 numbers"

    largest = second_largest = float('-inf')
    smallest = second_smallest = float('inf')

    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

        if num < smallest:
            second_smallest = smallest
            smallest = num
        elif num < second_smallest and num != smallest:
            second_smallest = num

    even_numbers = [num for num in numbers if num % 2 == 0]
    avg_even = sum(even_numbers) / len(even_numbers) if even_numbers else 0

    return second_largest, second_smallest, avg_even

In [9]:
test_list = [10, 4, 7, 9, 2, 11]
second_largest, second_smallest, avg_even = find_second_largest_smallest(test_list)
print(f"Second Largest = {second_largest}")
print(f"Second Smallest = {second_smallest}")
print(f"Average of Even Numbers = {avg_even:.2f}")

Second Largest = 10
Second Smallest = 4
Average of Even Numbers = 5.33

### 2. NumPy

In [5]:
# Q2.
def replace_nan_with_column_mean(array):
    result = array.copy()

    for col in range(result.shape[1]):
        column_data = result[:, col]
        col_mean = np.nanmean(column_data)
        column_data[np.isnan(column_data)] = col_mean
        result[:, col] = column_data

    return result

In [11]:
test_array = np.array([[1, np.nan, 3],  [4, 5, np.nan],[7, 8, 9]])
result = replace_nan_with_column_mean(test_array)
print(f"Output:\n{result}")

Output:
[[1.  6.5 3. ]
 [4.  5.  6. ]
 [7.  8.  9. ]]

## Section B

### 3. Minimum Window Subsequence

In [6]:
# Q3.
def minimum_window_subsequence(s1, s2):
    min_len = float('inf')
    min_window = ""

    for i in range(len(s1)):
        s2_idx = 0
        j = i

        while j < len(s1) and s2_idx < len(s2):
            if s1[j] == s2[s2_idx]:
                s2_idx += 1
            j += 1

        if s2_idx == len(s2):
            window_len = j - i
            if window_len < min_len:
                min_len = window_len
                min_window = s1[i:j]

    return min_window if min_window else ""

In [12]:
s1 = "abcdebdde"
s2 = "bde"
result = minimum_window_subsequence(s1, s2)
print(f"Output: '{result}'")

Output: 'bcde'

### 4. Palindrome Pairs

In [7]:
# Q4.
def find_palindrome_pairs(words):
    def is_palindrome(s):
        return s == s[::-1]

    pairs = []

    for i in range(len(words)):
        for j in range(len(words)):
            if i != j:
                concatenated = words[i] + words[j]
                if is_palindrome(concatenated):
                    pairs.append([i, j])

    return pairs

In [13]:
words1 = ['bat', 'tab', 'cat']
result = find_palindrome_pairs(words1)
print(f"Output: {result}")

words2 = ['a', 'abc', 'cba', '']
result = find_palindrome_pairs(words2)
print(f"Output: {result}")

Output: [[0, 1], [1, 0]]
Output: [[0, 3], [1, 2], [2, 1], [3, 0]]

### 5. Letter Combinations of a Phone Number

In [8]:
# Q5.
def letter_combinations(digits):
    if not digits:
        return []

    phone_map = {
        '2': 'abc', '3': 'def', '4': 'ghi', '5': 'jkl',
        '6': 'mno', '7': 'pqrs', '8': 'tuv', '9': 'wxyz'
    }

    def backtrack(index, current_combination):
        if index == len(digits):
            combinations.append(current_combination)
            return

        current_digit = digits[index]
        letters = phone_map.get(current_digit, '')

        for letter in letters:
            backtrack(index + 1, current_combination + letter)

    combinations = []
    backtrack(0, '')
    return combinations

In [14]:
digits = "23"
result = letter_combinations(digits)
print(f"Output: {result}")

Output: ['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']